<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Transactions:</h3>
    <input type="text" ng-model="transactionFilter">
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <th ng-click="orderSelection = 'Date'; reverseOrder = !reverseOrder" class="pointable">
          Date
        </th>
        <th ng-click="orderSelection = 'Symbol'; reverseOrder = !reverseOrder" class="pointable">
          Symbol
        </th>
        <th ng-click="orderSelection = 'Type'; reverseOrder = !reverseOrder" class="pointable">
          Type
        </th>
        <th ng-click="orderSelection = 'Quantity'; reverseOrder = !reverseOrder" class="pointable">
          Quantity
        </th>
        <th ng-click="orderSelection = 'Price'; reverseOrder = !reverseOrder" class="pointable">
          Price
        </th>
      </thead>
      <tbody>
        <tr ng-repeat="trade in trades | filter:transactionFilter">
          <td>{{trade.stock.Date}}</td>
          <td>{{trade.stock.Symbol}}</td>
          <td>{{trade.buyOrSell}}</td>
          <td>{{trade.quantity}}</td>
          <td>{{trade.totalPrice | currency}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
