<div class="row" ng-controller="datePickerCtrl">
  <div class="col-xs-12 text-center">
    <h4 ng-show="!dayInput" ng-click="dayInput = !dayInput" class="pointable">{{ currentDate.date | date }}</h4>
    <div ng-show="dayInput">
      <input type="date" ng-model="dateSelection" min="{{endDate.date | date:'yyyy-MM-dd'}}" max="{{startDate.date | date:'yyyy-MM-dd'}}">
      <a ng-click="currentDate.changeByDropdown(dateSelection); dayInput = !dayInput" class="pointable">Select Date</a>
    </div>
  </div>
  <div class="col-xs-2">
    {{ endDate.date | date }}
  </div>
  <div class="col-xs-8">
    <input type="range" ng-change="currentDate.changeByRange(slide)" ng-model="slide" min="{{-(oneDay * 182)}}" max="0" step="{{oneDay}}" width= "100%">
  </div>
  <div class="col-xs-2">
    {{ startDate.date | date }}
  </div>
</div>
