<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Trade</h3>
  </div>
  <div class="panel-body">
    <select value="" ng-model="selection" ng-options="stock.Symbol as stock.Symbol for stock in currentDaysStocks"></select>
    <div class="row">
      <div class="col-xs-6">
        <div ng-repeat="stock in currentDaysStocks | filter:selection || 'AAPL'">
          <form class="form-group" name="formData">
            Buy/Sell: <select ng-model="formData.buyOrSell" class="form-control">
              <option>Buy</option>
              <option>Sell</option>
            </select>
            Quantity: <input type="number" class="form-control" ng-model="formData.quantity">
            <div>Date:  {{stock.Date}}</div>
            <div>Price: {{stock.Close | currency}}</div>
            <div>Total: {{stock.Close * formData.quantity| currency}}</div>
            <button ng-click="performTransaction(stock, formData)" class="btn btn-default btn-primary">{{formData.buyOrSell || "Buy"}}</button>
          </form>
        </div>
      </div>
      <div class="col-xs-6">
        <div>
          Cash Available:
          {{cash}}
        </div>
        <div>
          Order Status:
          <span ng-if="cash - stock.Close*quantity >= 0">Valid</span>
          <span ng-if="cash - stock.Close*quantity < 0">Not Enough Funds</span>
        </div>
      </div>
    </div>
  </div>
</div>
